@import url('https://fonts.googleapis.com/css?family=Calligraffitti|Euphoria+Script|Open+Sans');

$ff-sans : 'Open Sans', sans-serif;
$ff-eu : 'Euphoria Script', cursive;
$ff-gr : 'Calligraffitti', cursive;;

$p-font : $ff-sans;
$h1-font : $ff-gr;
$h2-font : $ff-eu;